@font-face {
    font-family: 'gilles';
    src: url(/fonts/Gilles_Handwriting.ttf);
}

@font-face {
    font-family: 'min';
    src: url(/fonts/MinSans-Regular.ttf);
}

:root {
    --primary: black;
    --borders: #CCAD5F;
    --background: #CFF2F7;
}

*{
    margin: 0;
    font-family: 'min';
}
body {
 overflow-x: hidden;
}

.spritesheets {
    height: 500vh;
}

header {
    width: 100vw;
    height: 100vh;
    background-image: url(/img/img_arriere_plan/chemin_arriere_lan.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;    
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;

}

h1 {
    text-align: center;
    font-family: 'gilles';
    font-size: 5rem;

}

.intro {
    text-align: center;
    position: absolute;
    display: flex;
    bottom: 3vh;

    

}

img.cta {
    display: flex;
    bottom: 10vh;
    position: absolute;

}

section {
    margin: 0;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    width: 100vw;
    background-position: center;
    position: relative;
    
}

#fenetre {
    background-image: url(../img/img_arriere_plan/fenetreacc.jpg);
    position: relative;

    
}


#tomber {
    background-image: url(../img/img_arriere_plan/mur_brique.png);
    position: relative;
}

#rue {
    background-image: url(../img/img_arriere_plan/nonlineairegris.png);
    position: relative;

}

#foretloin {
    background-image: url(../img/img_arriere_plan/foretarriere.png);
    position: relative;

}

#foretmarche {
    background-image: url(../img/img_arriere_plan/chemin_arriere_lan.png);
    position: relative;
}

#rencontrechat {
    background-image: url(../img/img_arriere_plan/minoumiaoumiaouparler.png);
    position: relative;

}

#pechechat {
    background-image: url(../img/img_arriere_plan/lacscene.jpg);
    position: relative;

}

#etoilechat {
    background-image: url(../img/img_arriere_plan/etoileciel_paschat.jpg);
    position: relative;

}


.spritemarche {
    width: 10vw;
    aspect-ratio: 1/1;
   background-size: 2400% 100%;
    background-image: url(../img/img_personnages/spritesheet_chat_marchestp.png);
    animation-name: walking;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(24);
    margin: 0 auto;
    position: absolute;
    animation-play-state: paused;


  }
  
  @keyframes walking {
    from { background-position: 0 0; }
    to { background-position: -2400% 0; } 

  }
  

  .spritefall {
    width: 80vw;
    aspect-ratio: 1/1;
   background-size: 2400% 100%;
    background-image: url(../img/img_personnages/spritesheet_tomberstp.png);
    animation-name: fall;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(24);
    margin: 0 auto;
    animation-play-state: paused;

  }
  
  @keyframes fall{
    from { background-position: 0 0; }
    to { background-position: -2400% 0; } 

  }
  
  
.is-scrolling .spritemarche  {
    animation-play-state: running;

}  

.is-scrolling .spritefall  {
    animation-play-state: running;

}  

#tomber .spritefall  {
    position: absolute;
    left: 10vw;
    top: -43vh;

}

.boucle {
    position: absolute;
    top: 20vh;
    left: 47vw;
    width: 4vw;


}

.collier {
    position: absolute;
    top: 33vh;
    left: 47vw;
    width: 5vw;

}

.vuedessus {
    position: absolute;
    width: 6vw;
    left: 15vw;
    top: 20vh;


}

.treefront {
    position: absolute;
    top: 20vh;
    width:100vw;
    right: 1vw;

}

.treeback {
    position: absolute;
    top: -11vh;
    width:100vw;
    right: 4.5vw;
}

.spritemarche {
    position: absolute;
    top: 57vh;
    right: 20vw;
}

.question_1 {
    position: absolute;
    width: 15vw;
    left: 20vw;
    top: 17vh;
}

.question_2 {
    position: absolute;
    width: 15vw;
    right: 17vw;
    top: 17vh;
}

.etoileminou {
    position: absolute;
    bottom: 5vh;
    left: 45vw;
    width: 15vw;
}

