@font-face {
    font-family: 'gilles';
    src: url(/fonts/Gilles_Handwriting.ttf);
}

@font-face {
    font-family: 'min';
    src: url(/fonts/MinSans-Regular.ttf);
}

:root {
    --primary: black;
    --borders: #CCAD5F;
    --background: #CFF2F7;
}

*{
    margin: 0;
    font-family: 'min';
}
body {
 overflow-x: hidden;

}

.spritesheets {
    height: 500vh;
}

header {
    width: 100vw;
    height: 100vh;
    background-image: url(/img/img_arriere_plan/chemin_arriere_lan.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;    
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;

}

h1 {
    text-align: center;
    font-family: 'gilles';
    font-size: 5rem;

}

.intro {
    text-align: center;
    position: absolute;
    display: flex;
    bottom: 3vh;

    

}

img.cta {
    display: flex;
    bottom: 10vh;
    position: absolute;

}

section {
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-position: center;
}

#fenetre {
    background-image: url(../img/img_arriere_plan/fenetreacc.jpg);

    
}


#tomber {
    background-image: url(../img/img_arriere_plan/mur_brique.png);
}

#rue {
    background-image: url(../img/img_arriere_plan/nonlineairegris.png);
}

#foretloin {
    background-image: url(../img/img_arriere_plan/foretarriere.png);
}

#foretmarche {
    background-image: url(../img/img_arriere_plan/chemin_arriere_lan.png);
    display: flex;
    align-items: center;
}

#rencontrechat {
    background-image: url(../img/img_arriere_plan/minoumiaoumiaouparler.png);
}

#pechechat {
    background-image: url(../img/img_arriere_plan/lacscene.jpg);
}

#etoilechat {
    background-image: url(../img/img_arriere_plan/cieletoilechat_pascoeur.jpg);
}


.spritemarche {
    width: 20vw;
    aspect-ratio: 1/1;
   background-size: 2400% 100%;
    background-image: url(../img/img_personnages/spritesheet_chat_marchestp.png);
    animation-name: walking;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(24);
    margin: 0 auto;
    position: absolute;
    animation-play-state: paused;


  }
  
  @keyframes walking {
    from { background-position: 0 0; }
    to { background-position: -2400% 0; } 

  }
  

  .spritefall {
    width: 70vw;
    aspect-ratio: 1/1;
   background-size: 2400% 100%;
    background-image: url(../img/img_personnages/spritesheet_tomberstp.png);
    animation-name: fall;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(24);
    margin: 0 auto;
    animation-play-state: paused;

  }
  
  @keyframes fall{
    from { background-position: 0 0; }
    to { background-position: -2400% 0; } 

  }
  
  
.is-scrolling .spritemarche  {
    animation-play-state: running;

}  

.is-scrolling .spritefall  {
    animation-play-state: running;

}  