@font-face {
    font-family: 'gilles';
    src: url(/fonts/Gilles_Handwriting.ttf);
}

@font-face {
    font-family: 'min';
    src: url(/fonts/MinSans-Regular.ttf);
}

:root {
    --primary: black;
    --borders: #CCAD5F;
    --background: #CFF2F7;
}

*{
    margin: 0;
    font-family: 'min';
}
body {
    overflow: hidden;
}

header {
    width: 100vw;
    height: 100vh;
    background-image: url(/img/img_arriere_plan/chemin_arriere_lan.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;    
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;

}

h1 {
    text-align: center;
    font-family: 'gilles';
    font-size: 5rem;

}

.intro {
    text-align: center;
    position: absolute;
    display: flex;
    bottom: 3vh;

    

}

img.cta {
    display: flex;
    bottom: 10vh;
    position: absolute;

}